:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background: radial-gradient(circle, rgb(127, 255, 68), rgb(255, 1, 255), rgb(45, 194, 253));
  animation: gradientAnimation 10s infinite linear alternate;
  background-size: 300% 300%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

